<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Administrador de estacionamientos</title>
    <link rel="stylesheet" href="../public/css/style.css">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/users/login">Iniciar sesión</a></li>
        <li><a href="/users/signup">Registrarse</a></li>
        <li><a href="/parkings/create">Crear estacionamiento</a></li>
        <li><a href="/parkings">Ver estacionamientos</a></li>
      </ul>
    </nav>
    <div class="container">
      <h1>Bienvenido al administrador de estacionamientos</h1>
      <p>Aquí podrás gestionar tus estacionamientos y reservas de forma fácil y rápida.</p>
    </div>
  </body>
</html>
